<div class="status" [class.online]="online()" [class.offline]="!online()">
  Estado: {{ online() ? 'Online' : 'Offline' }}
</div>

<button (click)="syncTemplates()">Descargar plantillas</button>

<div *ngIf="templates().length">
  <select (change)="selectTemplate($any($event.target).value)">
    <option value="">Seleccione checklist</option>
    <option *ngFor="let t of templates()" [value]="t.id">{{ t.name }}</option>
  </select>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="selectedTemplate() as tpl">
  <div *ngFor="let field of tpl.fields" class="field">
    <label [for]="field.name">{{ field.label }}</label>
    <ng-container [ngSwitch]="field.type">
      <input
        *ngSwitchCase="'number'"
        type="number"
        [formControlName]="field.name"
        [attr.min]="field.min"
        [attr.max]="field.max"
      />
      <input
        *ngSwitchCase="'boolean'"
        type="checkbox"
        [formControlName]="field.name"
      />
      <select *ngSwitchCase="'select'" [formControlName]="field.name">
        <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
      </select>
      <select *ngSwitchCase="'tristate'" [formControlName]="field.name">
        <option value="yes">Sí</option>
        <option value="no">No</option>
        <option value="na">N/A</option>
      </select>
      <input
        *ngSwitchCase="'slider'"
        type="range"
        [attr.min]="field.min"
        [attr.max]="field.max"
        [formControlName]="field.name"
      />
    </ng-container>
  </div>
  <button type="submit">Enviar</button>
</form>
